<div class="navbar">
    @switch (startType) {
        @case ('button') {
            <div class="start">
                <button>{{start}}</button>
            </div>
        }
        @case ('h1') {
            <div class="start">
                <h1>{{start}}</h1>
            </div>
        }
        @case ('h2') {
            <div class="start">
                <h2>{{start}}</h2>
            </div>
        }
        @case ('h3') {
            <div class="start">
                <h3>{{start}}</h3>
            </div>
        }
        @case ('h4') {
            <div class="start">
                <h4>{{start}}</h4>
            </div>
        }
        @case ('p') {
            <div class="start">
                <p>{{start}}</p>
            </div>
        }
        @case ('a') {
            <div class="start">
                <a href="#">{{start}}</a>
            </div>
        }
        @case ('img') {
            <div class="start">
                <img src="{{start}}" alt="">
            </div>
        }
        @case ('svg') {
            <div class="start">
                <svg>{{start}}</svg>
            </div>
        }
        @default {

        }
    }

    @switch (centerType) {
        @case ('button') {
            <div class="center"><button>{{center}}</button></div>
        }
        @case ('h1') {
            <div class="center"><h1>{{center}}</h1></div>
        }
        @case ('h2') {
            <div class="center"><h2>{{center}}</h2></div>
        }
        @case ('h3') {
            <div class="center"><h3>{{center}}</h3></div>
        }
        @case ('h4') {
            <div class="center"><h4>{{center}}</h4></div>
        }
        @case ('p') {
            <div class="center"><p>{{center}}</p></div>
        }
        @case ('a') {
            <div class="center"><a href="#">{{center}}</a></div>
        }
        @case ('img') {
            <div class="center"><img src="{{center}}" alt=""></div>
        }
        @case ('svg') {
            <div class="center"><svg>{{center}}</svg></div>
        }
        @default {

        }
    }
    
    @switch (endType) {
        @case ('button') {
            <div class="end"><button>{{end}}</button></div>
        }
        @case ('h1') {
            <div class="end"><h1>{{end}}</h1></div>
        }
        @case ('h2') {
            <div class="end"><h2>{{end}}</h2></div>
        }
        @case ('h3') {
            <div class="end"><h3>{{end}}</h3></div>
        }
        @case ('h4') {
            <div class="end"><h4>{{end}}</h4></div>
        }
        @case ('p') {
            <div class="end"><p>{{end}}</p></div>
        }
        @case ('a') {
            <div class="end"><a href="#">{{end}}</a></div>
        }
        @case ('img') {
            <div class="end"><img src="{{end}}" alt=""></div>
        }
        @case ('svg') {
            <div class="end"><svg>{{end}}</svg></div>
        }
        @default {

        }
    }
</div>
