.navbar {
    position: relative;
    display: grid;
    grid-template-areas: "start end";
    grid-template-columns: 25% 75%;
    padding: 1em;
    background-color: transparent;
}
.navbar::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px; /* Grosor de la línea */
    background: linear-gradient(to right, transparent 0%, #000 20%, #000 80%, transparent 100%);
}
@media (max-width: 767px) {
    .navbar {

    }
}
