.footer {
    display: grid;
    grid-template-areas: "start center end";
    grid-template-columns: 1fr 1fr 1fr;
    background-color: aqua;
}
.footer-start {
    grid-area: "start";
    display: flex;
    justify-content: start;
    align-items: center;
}
.footer-center {
    grid-area: "center";
    display: flex;
    justify-content: center;
}
.footer-end {
    grid-area: "end";
    display: flex;
    justify-content: end;
    align-items: center;
}
