<div class="home">
    <app-navbar>
        <div navbar-start class="home-navbar-start">
            <img navbar-start class="home-navbar-start-img" src="../../../assets/images/colory.png" alt="">
            <h1>Colory</h1>
        </div>
        <div navbar-end class="home-navbar-end">
            <button>Extraer colores</button>
            <button>Monocromáticos</button>
            <button>Iniciar sesion</button>
            <button>Registrarse</button>
        </div>
    </app-navbar>
    <app-footer class="home-footer">
        <p footer-center>&#64;Erick Gabriel Urbizagastegui Alvarez - 2024</p>
    </app-footer>
</div>