.home {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.home-navbar-start {
    grid-area: start;
    display: flex;
    align-items: center;
    gap: 1em;
}

.home-navbar-start-img {
    max-width: 2.5rem;
}

.home-navbar-end {
    grid-area: end;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1em;
    margin-right: 1em;
}

.home-navbar-end-small {
    display: none;
}

.home-navbar-end-small:hover {
    cursor: pointer;
}

.dark-transparent-bg {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(59, 59, 59, 0.527);
}

.home-navbar-end-small-container-menu {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    height: 100%;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.show-home-navbar-end-small-container-menu {
    transform: translateX(0%);
}

.home-navbar-end-small-container-menu-close:hover {
    cursor: pointer;
}

.home-navbar-end-small-container-menu svg, .home-navbar-end-small-container-menu h4 {
    margin-left: 2em;
    margin-right: 2em;
}

.home-footer {
    margin-top: auto;
}

@media (width < 800px) {
    .home-navbar-end {
        display: none;
    }

    .home-navbar-end-small {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

.home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-body-title {
    margin-block: 1em;
}

.home-body-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.home-initial-palette {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: clamp(300px, 40%, 400px);
}

.home-initial-palette-color {
    min-width: 20%;
    max-width: 10rem;
    height: 10rem;
}

.home-multicolor-palettes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    width: 80%; /* Asegura que el grid ocupe todo el ancho disponible */
    max-width: 960px; /* Opcional: establece un ancho máximo para evitar que el grid se expanda demasiado en pantallas grandes */
    place-items: center;
    place-content: center;
    margin-block: 1em;
}

.home-multicolor-palette {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.home-multicolor-palette-color {
    width: 20%;
    height: 10rem;
}

@media (max-width: 700px) {
    .home-body-header {
        flex-direction: column;
    }
}


@media (max-width: 375px) {
    .home-initial-palette {
        width: 80%;
    }

    .home-multicolor-palettes {
        grid-template-columns: repeat(auto-fill, minmax(224px, 1fr)); /* 80% del ancho de la pantalla del galaxy fold */
    }
}
